{% extends 'kc_user/user_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}发布文件{% endblock %}

{% block job %}
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">发布文件</div>
      <div class="panel-body">
        {% if form %}
          {% crispy form form.helper %}
        {% else %}
          {{ message|safe }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-1"><img src="{% static 'img/donjin_publish.png' %}" class="action-logo"></div>
{% endblock %}