<!DOCTYPE html>
<html>
<head lang="zh-cn">
  {% load staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="舰队collection,舰娘,艦隊これくしょん,艦これ,登录器,漫画,同人志">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/kancolle.css' %}" rel="stylesheet">
{% if extra_css %}
  {% for ec in extra_css %}
  <link href="{% static ec %}" rel="stylesheet">
  {% endfor %}
{% endif %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
  <![endif]-->
  <title>{% block title %}{% endblock %}</title>
  <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% if extra_js %}
    {% for ej in extra_js %}
      <script src="{% static ej %}"></script>
    {% endfor %}
  {% endif %}
</head>
<body>
<div class="container">
  <div id="header" class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"{% ifequal active 'home' %} class="active"{% endifequal %}><a href="{% url 'kc-home' %}">主页</a></li>
        <li role="presentation"{% ifequal active 'connector' %} class="active"{% endifequal %}><a href="{% url 'kc-connector' %}">登录器</a></li>
        <li role="presentation"{% ifequal active 'donjin' %} class="active"{% endifequal %}><a href="https://kancolle.tv/comic/">同人志</a></li>
        <li role="presentation"{% ifequal active 'user' %} class="active"{% endifequal %}><a class="dropdown-toggle" data-toggle="dropdown">KTV用户 <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right small-width" role="menu">
            {% if user.is_authenticated %}<li><a href="{% url 'kc-user-home' %}">设置</a></li>
            <li><a href="{% url 'kc-user-logout' %}">注销</a></li>{% else %}<li><a href="{% url 'kc-user-login' %}">登录</a></li>
            <li><a href="{% url 'kc-user-signup' %}">注册</a></li>{% endif %}
          </ul>
        </li>
      </ul>
    </nav>
    <h2 class="text-primary"><img src="{% static 'img/logo.png' %}" alt="logo" width="32" height="32"> 舰队Collection资讯</h2>
    <hr>
  </div>
{% block content %}{% endblock %}
<div class="text-center">
<hr><address>KanColle.tv &copy; 2014-2015</address>
</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48442370-1', 'kancolle.tv');
  ga('send', 'pageview');
</script>
</body>
</html>