{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}KTV代理服务器{% endblock %}

{% block content %}
<div id="home_proxy">
  <h3 class="text-primary">KTV代理服务器</h3>
  <ul>
    <li>本代理服务器仅能用于访问DMM网站和舰娘日文Wiki，也不提供类似岛风GO的缓存服务</li>
    <li>本代理服务器为HTTP代理，地址：<strong>proxy.kancolle.tv</strong>，端口：<strong>9012</strong>，用户名：<strong>xchange</strong>，密码：<strong>qqmsn123</strong></li>
    <li>本代理服务器与一般代理服务器无异，请自行探索您喜好的浏览器应如何设置</li>
    <li>本代理服务器免费提供给舰娘玩家使用，因此并不保证100%可用，也不提供技术支持</li>
    <li>本代理服务器以后若进行任何变更或限制，恕不另行通知</li>
  </ul>
</div>
{% endblock %}