{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}舰娘登录器{% endblock %}

{% block content %}
<div id="connector_description" class="row">
  <div class="col-md-5">
    {% if form.is_valid %}
      <p class="text-{% if success %}success{% else %}danger{% endif %}"><strong>{{ message }}</strong></p>
      {% if success %}
      <p><a href="{{ play_url }}" class="btn btn-primary">打开游戏</a> <a href="{{ play_url }}" target="_blank" class="btn btn-primary">在新窗口中打开游戏</a></p>
      <hr>
      <form action="http://kancolle.im/index.php" method="post">
        <input type="hidden" id="login_url" name="url" value="{{ play_url }}">
        <input class="btn btn-success" type="submit" id="login_go" value="通过舰娘加速器运行游戏">
      </form>
      <p>舰娘加速器是<a href="http://bbs.kancolle.tv/?3380" target="_blank">Misaka030</a>开发的在线缓存加速系统，能够有效克服白屏、无限小黑船现象。</p>
      <p>舰娘加速器官方网站在 <a href="http://kancolle.im/">这里</a>，如有疑问请联系作者，或者到 <a href="http://bbs.kancolle.tv/thread-2933-1-1.html" target="_blank">这个帖子</a> 下发帖求助。</p>
      {% else %}
      <p><a href="javascript:history.back()" class="btn btn-primary">返回登录界面</a></p>
      {% endif %}
    {% else %}
      {% crispy form form.helper %}
    {% endif %}
  </div>
  <div class="col-md-7 pull-right">
    <h3 class="text-primary narrow_margin_top">关于游戏登录器</h3>
    <ul class="narrow_padding_left">
	  <li><strong>本站并非舰队collection官方网站，游戏官网请点<a href="http://www.dmm.com/netgame_s/kancolle/" class="external">这里</a></strong></li>
      <li>本登录器仅用于已注册用户在不开启VPN的情况下登录游戏</li>
      <li>如果您还没有舰娘账号，又苦于不会进行复杂的抢号操作，<br>那么可以<a href="http://item.taobao.com/item.htm?spm=a230r.1.14.29.sYXdvq&id=43777871680" class="external" target="_blank"><strong>通过我们赞助商的店铺购买</strong></a></li>
	  <li>本登录器通过向DMM转发用户的登录信息来规避其对IP的限制</li>
      <li>本登录器不支持Google Plus和Facebook账号登录</li>
      <li>本登录器不会保存任何用户信息</li>
      <li>本网站对使用本登录器可能造成的任何后果不负责任</li>
    </ul>
  </div>
</div>
{% endblock %}