{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}用户注册{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    {% crispy form form.helper %}
  </div>
  <div class="col-md-6">
    <h3 class="text-primary narrow_margin_top">注册KTV用户注意事项</h3>
    <ul class="narrow_padding_left">
      <li>这里注册的是kancolle.tv的账号，不是舰队collection的游戏账号</li>
      <li>注册时您需要提供有效的电子邮件地址，本站会给您发送电子邮件加以确认</li>
      <li>有关KTV用户的最终解释权归本站所有</li>
    </ul>
  </div>
</div>
{% endblock %}
