{% extends 'base.html' %}

{% block title %}{{ c.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center doujin-detail">
    <h4><strong>{{ c.title }}</strong></h4>
    <p>共{{ c.pages }}页 |
      汉化组：{% ifequal c.translator "" %}无{% else %}{{ c.translator }}{% endifequal %} |
      发布者：{{ c.publisher.username }} |
      发布时间：{{ c.publish_time|date:"Y-n-j G:i" }} |
      阅读次数：{{ c.clicks }} |
      <a href="{% url 'kc-doujin-download' pk=c.pk %}">下载</a>
    </p>
    <p><img src="{{ c.get_img_prefix }}{{ current }}.jpg" class="img-responsive"></p>
    <p>
      <a href="{% url 'kc-doujin-detail' pk=c.pk %}" class="btn btn-primary">首页</a>
      {% if previous %}<a href="{% url 'kc-doujin-detail-page' pk=c.pk page=previous %}" class="btn btn-primary">前一页</a>{% endif %}
      <span class="btn btn-success">当前第{{ current }}页</span>
      {% if next %}<a id="next" href="{% url 'kc-doujin-detail-page' pk=c.pk page=next %}" class="btn btn-primary">后一页</a>{% endif %}
      <a href="{% url 'kc-doujin-detail-page' pk=c.pk page=c.pages %}" class="btn btn-primary">尾页</a>
    </p>
  </div>
  <script type="text/javascript">
  {% if previous %}prev_url = "{% url 'kc-doujin-detail-page' pk=c.pk page=previous %}";{% else %}prev_url = false;{% endif %}
  {% if next %}next_url = "{% url 'kc-doujin-detail-page' pk=c.pk page=next %}";{% else %}next_url = false;{% endif %}
  $(document).ready(function(){
      $("body").keyup(function(event){
          if (prev_url && event.keyCode == 37) {
              window.location.assign(prev_url);
          }
          if (next_url && event.keyCode == 39) {
              window.location.assign(next_url);
          }
      })
  })
  </script>
</div>
{% endblock %}