{% load staticfiles %}
<div class="panel panel-default">
  <div class="panel-heading">同人志管理</div>
  <div class="panel-body">
    <div class="action">
      <a href="{% url 'kc-doujin-upload' %}"><div class="action-img"><img src="{% static 'img/doujin_upload.png' %}"></div>
      <div class="action-name">上传文件</div></a>
    </div>
    <div class="action">
      <a href="{% url 'kc-doujin-publish' %}"><div class="action-img"><img src="{% static 'img/doujin_publish.png' %}"></div>
      <div class="action-name">发布漫画</div></a>
    </div>
    <div class="action">
      <a href="{% url 'kc-doujin-list-comic' %}"><div class="action-img"><img src="{% static 'img/doujin_manage.png' %}"></div>
      <div class="action-name">管理漫画</div></a>
    </div>
  </div>
</div>