{% extends 'kc_user/user_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}编辑漫画信息{% endblock %}

{% block job %}
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">编辑漫画信息</div>
      <div class="panel-body">
        {% if form %}
          <p class="text-muted">对应文件：{{ f.file_name }} <a href="{% url 'kc-doujin-edit-uploaded-file' fid=f.pk %}" title="编辑"><i class="glyphicon glyphicon-edit"></i></a></p>
          <p>请把压缩包文件名中的汉化组填到下面单独的字段中，“(C85)”之类的移到标题末尾。</p>
          {% crispy form form.helper %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-1"><img src="{% static 'img/doujin_manage.png' %}" class="action-logo"></div>
{% endblock %}